body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(1, 25, 44);
  color: blanchedalmond;
  justify-content: center;
}

form label {
  font-size: 1.2rem;
  text-align: left;
}

form input {
  outline: none;
  width: 80%;
  height: 1.4rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  border: solid 0.2rem rgb(34, 43, 18);
  border-radius: 0.5rem;
  color: blanchedalmond;
  background-color: blueviolet;
}

form button {
  width: 10rem;
  font-size: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 0.5rem;
  border: solid 0.2rem rgb(12, 1, 29);
  color: blanchedalmond;
  background-color: rgb(0, 100, 100);
}

form button:hover {
  background-color: rgb(20, 120, 120);
}

form button:active {
  box-shadow: 0.02rem 0.02rem 0.4rem black inset;
  background-color: rgb(20, 120, 120);
}

@media (width <= 24rem) {
  form {
    width: 90vw;
    margin: auto;
  }
}
